.container {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: left;
}

.btn {
  margin-right: auto;
  width: 150px;
  padding: 8px 10px;
  background: #ee2824;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
}
